* {
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: Roboto;
}

.sidebar__open {
  overflow: hidden;
  padding-right: 19px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
